<!-- メインヘッダー部定義 -->
  <div class="header-title">
    <div class="title-left">
      <div class="title-left__awesome">
        <i class="fab fa-envira"></i>
<!--        葉っぱ2<i class="fab fa-pagelines"></i>-->
<!--        <i class="fas fa-fighter-jet"></i>-->
      </div>
      <div class="title-left__thema">
        Su-baco
      </div>
      <div class="title-left__subthema">
        たくさんのメモを残して技術の引き出しを増やそう...
      </div>
      <div class="title-left__version">Application-V2.5.0</div>
      <div class="title-left__border"></div>

    </div>
  </div>
