<!-- メインヘッダー部定義 -->
  <div class="footer-title">
    <div class="footer-area">
      <div class="footer-area__border"></div>
      <div class="footer-area__awesome">

<!--        <i class="fab fa-envira"></i>-->
<!--        葉っぱ2<i class="fab fa-pagelines"></i>-->
        <i class="fas fa-fighter-jet"></i>
      </div>
      <div class="footer-area__thema">
         The portfolio
      </div>
      <div class="footer-area__subthema">
        ご覧いただきありがとうございました..
      </div>
      <div class="footer-area__version">Copyright © dichikawa All Rights Reserved.</div>

    </div>
  </div>
