<!-- メインヘッダー部定義 -->
  <div class="header-title">
    <div class="title-left">
      <div class="title-left__awesome">
      </div>
      <div class="title-left__thema">
        <%= image_tag('subaco_title.png') %>
      </div>
      <div class="title-left__subthema">
        たくさんのメモを残して技術の引き出しを増やそう...
      </div>
      <div class="title-left__version">
        Application-<%=Settings.version_manager[:application_subaco] %><br>
<!--    バージョンアップに伴い、毎回ソースを更新しなければならないため、廃止-->
<!--    Release-<%#=Settings.release_date[:application_subaco] %>-->
        <%= get_display_control_info(param_control_type: "uptiming") %>
      </div>
      <div class="title-left__border"></div>

    </div>
  </div>
