<!-- 左コンテンツ -->
  <div class="l-contents">

<!-- ユーザ情報 -->
    <div class="user-info">
      <div class="user-info__img"></div>
      <div class="user-info__name"><a>テストユーザ</a></div>
    </div>
    <div class=""></div>

<!-- ノート情報 -->
    <div class="krown-list">
      <div class="note-info">
        <div class="note-info__icon"><i class="fas fa-book-open"></i></div>
        <div class="note-info__name">技術ノート、ノウハウ</div>
      </div>
      <div class="note-group1">
        <div class="note-group1__icon"><i class="fas fa-horse-head"></i></div>
        <div class="note-group1__name">スキル・技術</div>
      </div>

      <!-- 以下、ページは仮置き -->
      <div class="note-group1">
        <div class="note-group1__icon"><i class="fas fa-dove"></i></div>
        <div class="note-group1__name">ニュース</div>
      </div>
      <div class="note-group1">
        <div class="note-group1__icon"><i class="fas fa-frog"></i></div>
        <div class="note-group1__name">はじめてのノート</div>
      </div>
    </div>

<!-- 操作情報 -->
    <div class="operation_area">
      <div class="action">
        <div class="action__icon"><i class="fas fa-plus"></i></div>
        <div class="action__name">メモ追加</div>
      </div>
      <div class="action">
        <div class="action__icon"><i class="fas fa-minus"></i></div>
        <div class="action__name">インシデント削除</div>
      </div>
    </div>

<!-- レフトコンテンツ終了タグ -->
  </div>

  <div class="l-contents-line"></div>
