.edit-form{
  width: 80em;
  display: block;
  font-family: Meiryo;
  font-weight: 400;
  color:#7F7F7F;
  margin-left: auto;
  margin-right: auto;

  .edit-basic{
    width: 70%;
    font-weight: 400;
    text-align: center;
    margin: 20px auto 25px auto;

    .basic-record__right{
      margin-left: 50px;
    }

    .basic-record__bottom{
      margin-top: 20px;
    }

    .basic-record {
      &__lavel {
        display: inline-block;
        font-size: 14px;
        width: 100px;

      }

      &__value {
        font-size: 12px;
        font-weight: 400;
        min-width: 160px;
        min-height: 30px;
        display: inline-block;
        color: #7F7F7F;
        border: 1px solid #74B816;
        background-color: gainsboro;
        border-radius: 5px;
        padding: 5px;
      }
    }

    .line-fied{
      display: block
    }
  }
// メイン入力部
  .edit-contents{
    display: block;
    width:  90%;
    background-color: rgba(148,216,45,0.06);
    font-weight: 400;
    margin: 0 auto 0 auto;

//情報共有チェックボックス
    .secret-form{
      width: calc(100%);
      &__decoration{
        width: 10px;
        height: 10px;
        display: inline-block;
        margin: 20px 5px 10px 50px;
      }
      &__lavel{
          margin: 20px 5px 10px 10px;
          display: inline-block;
          font-size: 14px;
          width: 150px;
      }
      &__box{
          margin: 8px 5px 8px 15px;
          display: inline-block;
          font-size: 40px;
      }
    }

//ジャンルドロップボックス
    .genre-form{
      width: calc(100%);
      &__decoration{
        width: 10px;
        height: 10px;
        display: inline-block;
        margin: 10px 5px 10px 50px;
      }
      &__lavel{
          margin: 10px 5px 10px 10px;
          display: inline-block;
          font-size: 14px;
          width: 150px;
      }
      &__select{
          margin: 5px 5px 5px 15px;
          display: inline-block;
          font-size: 12px;
          width: 200px;
          padding: 5px;
          border: 1px solid #74B816;
          border-radius: 5px;
          min-height: 30px;
      }

    }

//タイトル入力フォーム
    .title-form{
      width: calc(100%);
      margin: 10px 0 0 0;
      &__decoration{
        width: 10px;
        height: 10px;
        display: inline-block;
        margin: 10px 5px 10px 50px;
      }
      &__lavel{
          margin: 10px 5px 10px 10px;
          display: inline-block;
          font-size: 14px;
          width: 150px;
          font-weight: 600;
      }
      &__text{
          margin: 5px 5px 5px 15px;
          display: inline-block;
          font-size: 12px;
          width: 65%;
          padding: 5px;
          border-radius:5px;
          border: 1px solid #74B816;
      }
    }

    .ac-border{
        height: 1px;
        width: 90%;
        margin: 20px 0 10px 40px;
        background-color: darkgray;
    }

    .ac-bashed-border{
      width: 90%;
      margin: 20px 0 10px 40px;
      border: 0.5px lightskyblue dashed;
    }

//コンテンツ入力フォーム
    .content-form{
      margin: 20px 0 0 0;
      width: calc(100%);
      .required_mark{
        margin: 12px 0 0 0;
      }
      &__decoration{
        width: 10px;
        height: 10px;
        display: inline-block;
        margin: 10px 5px 10px 50px;
        vertical-align: top;
      }
      &__lavel{
          margin: 10px 5px 10px 10px;
          display:  inline-block;
          font-size: 14px;
          width: 150px;
          font-weight: 600;
          display: inline-block;
          /* margin-top: 2px; */
      }
      &__text{
          margin: 10px 5px 5px 20px;
          font-size: 12px;
          width: 60%;
          height: 30vh;
          max-height: 300px;
          border-radius:5px;
          border: 1px solid #74B816;
          vertical-align:top;
      }
    }


  //備考欄入力フォーム
  .remark-form{
    margin: 20px 0 0 0;
    width: calc(100%);
    .required_mark{
      margin: 12px 0 0 0;
    }
    &__decoration{
      width: 10px;
      height: 10px;
      display: inline-block;
      margin: 10px 5px 10px 50px;
      vertical-align: top;
    }
    &__lavel{
      margin: 10px 5px 10px 10px;
      display:  inline-block;
      font-size: 14px;
      width: 150px;
      font-weight: 600;
      display: inline-block;
      /* margin-top: 2px; */
    }
    &__text{
      margin: 10px 5px 5px 25px;
      font-size: 12px;
      width: 60%;
      height: 25vh;
      max-height: 300px;
      border-radius:5px;
      border: 1px solid #74B816;
      vertical-align:top;
    }
  }

    //カラードロップボックス
    .color-group-form{
      width: calc(100%);
      &__decoration{
        width: 10px;
        height: 10px;
        display: inline-block;
        margin: 10px 5px 10px 50px;
      }
      &__lavel{
        margin: 10px 5px 10px 10px;
        display: inline-block;
        font-size: 14px;
        width: 150px;
      }
      &__select{
        margin: 5px 5px 5px 15px;
        display: inline-block;
        font-size: 12px;
        width: 200px;
        padding: 5px;
        border: 1px solid #74B816;
        border-radius: 5px;
        min-height: 30px;
      }

    }


//カラーグループ
    .color-form{
      width: calc(100%);
      &__lavel{
        margin: 20px 5px 10px 10px;
        display: inline-block;
        font-size: 14px;
        width: 150px;
      }
      &__tag{
        font-weight: normal;
      }
      &__button{
        margin: 4px 0 0 50px;
      }
      &__box{
        margin: 8px 5px 8px 15px;
        display: inline-block;
        font-size: 40px;
      }
    }

//個別カラーセレクトボックス
    .color-individual{
      width: calc(100%);
      margin: 10px 0 0 0;
      &__lavel{
        margin: 10px 5px 10px 200px;
        display: inline-block;
        font-size: 13px;
        width: 200px;
        font-weight: 400;
      }
      &__box{
        margin: 8px 5px 8px 15px;
        display: inline-block;
        font-size: 40px;
      }
    }

//カラー入力フォーム
    .color-select{
      width: calc(100%);
      margin: 10px 0 0 0;

      &__lavel1{
        margin: 10px 5px 10px 200px;
        display: inline-block;
        font-size: 13px;
        width: 100px;
        font-weight: 400;
      }

      &__lavel2{
        margin: 10px 5px 10px 40px;
        display: inline-block;
        font-size: 13px;
        width: 100px;
        font-weight: 400;
      }

      &__text1{
        margin: 5px 5px 5px 15px;
        display: inline-block;
        font-size: 12px;
        width: 150px;
        height: 25px;
        border-radius:5px;
        border: 1px solid #74B816;
        padding: 0 0 0 10px;
      }

      &__text2{
        margin: 5px 5px 5px 15px;
        display: inline-block;
        font-size: 12px;
        width: 150px;
        height: 25px;
        border-radius:5px;
        border: 1px solid #74B816;
        padding: 0 0 0 10px;
      }
    }

//キーワード、カラー入力フォーム
    .color-keyword{
      width: calc(100%);
      margin: 10px 0 0 0;

      &__lavel1{
        margin: 10px 5px 10px 200px;
        display: inline-block;
        font-size: 13px;
        width: 100px;
        font-weight: 400;
      }

      &__lavel2{
        margin: 10px 5px 10px 40px;
        display: inline-block;
        font-size: 13px;
        width: 100px;
        font-weight: 400;
      }

      &__text1{
        margin: 5px 5px 5px 15px;
        display: inline-block;
        font-size: 12px;
        width: 150px;
        height: 25px;
        border-radius:5px;
        border: 1px solid #74B816;
        padding: 0 0 0 10px;
      }

      &__text2{
        margin: 5px 5px 5px 15px;
        display: inline-block;
        font-size: 12px;
        width: 150px;
        height: 25px;
        border-radius:5px;
        border: 1px solid #74B816;
        padding: 0 0 0 10px;
      }
    }

//カラー入力フォーム
    .color-make{
      width: calc(100%);
      margin: 10px 0 0 0;
      &__decoration{
        width: 10px;
        height: 10px;
        display: inline-block;
        margin: 10px 5px 10px 50px;
      }
      &__lavel{
        margin: 10px 5px 10px 200px;
        display: inline-block;
        font-size: 13px;
        width: 100px;
        font-weight: 400;
      }
      &__text{
        margin: 5px 5px 5px 15px;
        display: inline-block;
        font-size: 12px;
        width: 150px;
        height: 25px;
        border-radius:5px;
        border: 1px solid #74B816;
        padding: 0 0 0 10px;
      }
    }

//イメージフォーム
    .image-form{
      margin: 10px 0 0 0;
      width: calc(100%);
      &__decoration{
        width: 10px;
        height: 10px;
        display: inline-block;
        margin: 10px 5px 10px 50px;
      }
      &__lavel{
          margin: 10px 5px 10px 10px;
          display: inline-block;
          font-size: 14px;
          //width: 150px;
      }
      &__file{
          margin: 5px 5px 5px 15px;
          display: inline-block;
          font-size: 14px;
          line-height: 0px;
      }
    }

  //  edit-contents終了。
  }

  .edit-message{
    color: red;
    font-size: 12px;
    margin: 10px 20px;
  }

  .edit-button{
    display: block;
    &__submit{
      background-color:#0099e8;
      margin:20px 20px 0 50px;
      border: 1px solid #0099e8;
      border-radius:5px;
      width: 120px;
      height: 30px;
      color:white;
      font-weight: 400;
      font-size: 14px;
      display: inline-block;

    }
    &__cancel{
      display: inline-block;
      width: 120px;
      background-color: gray;
      height: 28px;
      border-radius: 5px;
      text-align: center;
      color: white;
      font-weight: 400;
      font-size: 15px;
      line-height:27px;
    }
  }

}
