.edit-form{
  width: calc(90%);
  display: inline-block;
  //height: 100vh;
  float: right;
  font-family: Meiryo;
  font-weight: 400;
  color:#7F7F7F;

  .edit-basic{
    width: calc(100%);
    // height: 1px;
    font-weight: 400;
    margin: 0 0 25px 0;
      &__lavel{
        margin: 20px 5px 10px 55px;
        display: inline-block;
        font-size: 14px;
        width: 80px;

      }
      &__value{
        font-size: 12px;
        font-weight: 400;
        width: 130px;
        height: 25px;
        display: inline-block;
        color:#7F7F7F;
        border: 1px solid #74B816;
        background-color: gainsboro;
        border-radius:5px;
      }
    .line-fied{
      display: block
    }
  }
// メイン入力部
  .edit-contents{
    display: inline-block;
    //height: 520px;
    width:  95%;
    background-color: rgba(148,216,45,0.06);
    font-weight: 400;

    .secret-form{
      width: calc(100%);
      &__decoration{
        width: 10px;
        height: 10px;
        display: inline-block;
        margin: 20px 5px 10px 50px;
      }
      &__lavel{
          margin: 20px 5px 10px 10px;
          display: inline-block;
          font-size: 14px;
          width: 150px;
      }
      &__box{
          margin: 8px 5px 8px 15px;
          display: inline-block;
          font-size: 40px;
      }
    }

    .genre-form{
      width: calc(100%);
      &__decoration{
        width: 10px;
        height: 10px;
        display: inline-block;
        margin: 10px 5px 10px 50px;
      }
      &__lavel{
          margin: 10px 5px 10px 10px;
          display: inline-block;
          font-size: 14px;
          width: 150px;
      }
      &__select{
          margin: 5px 5px 5px 15px;
          display: inline-block;
          font-size: 12px;
          width: 200px;
          height: 25px;
          border: 1px solid #74B816;
            border-radius: 5px;
      }

    }

    .title-form{
      width: calc(100%);
      margin: 10px 0 0 0;
      &__decoration{
        width: 10px;
        height: 10px;
        display: inline-block;
        margin: 10px 5px 10px 50px;
      }
      &__lavel{
          margin: 10px 5px 10px 10px;
          display: inline-block;
          font-size: 14px;
          width: 150px;
          font-weight: 600;
      }
      &__text{
          margin: 5px 5px 5px 15px;
          display: inline-block;
          font-size: 12px;
          width: 500px;
          height: 25px;
          border-radius:5px;
          border: 1px solid #74B816;
      }
    }

    .ac-border{
        height: 1px;
        width: 90%;
        margin: 20px 0 10px 40px;
        background-color: darkgray;
    }

    .content-form{
      margin: 20px 0 0 0;
      width: calc(100%);
      .required_mark{
        margin: 12px 0 0 0;
      }
      &__decoration{
        width: 10px;
        height: 10px;
        display: inline-block;
        margin: 10px 5px 10px 50px;
        vertical-align: top;
      }
      &__lavel{
          margin: 10px 5px 10px 10px;
          display:  inline-block;
          font-size: 14px;
          width: 150px;
          font-weight: 600;
          display: inline-block;
          /* margin-top: 2px; */
      }
      &__text{
          margin: 10px 5px 5px 20px;
          font-size: 12px;
          width: 70%;
          height: 300px;
          border-radius:5px;
          border: 1px solid #74B816;
          vertical-align:top;
      }
    }

    //.search-form{
    //  margin: 10px 0 0 0;
    //  &__decoration{
    //    width: 10px;
    //    height: 10px;
    //    display: inline-block;
    //    margin: 10px 5px 10px 50px;
    //  }
    //  &__lavel{
    //      margin: 10px 5px 10px 10px;
    //      display: inline-block;
    //      font-size: 14px;
    //      width: 150px;
    //  }
    //  &__text{
    //      margin: 5px 5px 5px 15px;
    //      display: inline-block;
    //      font-size: 12px;
    //      width: 165px;
    //      height: 30px;
    //      border-radius:5px;
    //      border: 1px solid #74B816;
    //  }
    //}


    .image-form{
      margin: 10px 0 0 0;
      width: calc(100%);
      &__decoration{
        width: 10px;
        height: 10px;
        display: inline-block;
        margin: 10px 5px 10px 50px;
      }
      &__lavel{
          margin: 10px 5px 10px 10px;
          display: inline-block;
          font-size: 14px;
          //width: 150px;
      }
      &__file{
          margin: 5px 5px 5px 15px;
          display: inline-block;
          font-size: 14px;
          line-height: 0px;
      }
    }

  //  edit-contents終了。
  }

  .edit-message{
    color: red;
    font-size: 12px;
    margin: 10px 20px;
  }

  .edit-button{
    display: block;
    &__submit{
      background-color:#0099e8;
      margin:20px 20px 0 50px;
      border: 1px solid #0099e8;
      border-radius:5px;
      width: 120px;
      height: 30px;
      color:white;
      font-weight: 400;
      font-size: 14px;
      display: inline-block;

    }
    &__cancel{
      display: inline-block;
      width: 120px;
      background-color: gray;
      height: 28px;
      border-radius: 5px;
      text-align: center;
      color: white;
      font-weight: 400;
      font-size: 15px;
      line-height:27px;
    }


  }

}
