.main-contents{
  font-family: Meiryo;
  color:#7F7F7F;

// テーブル表示箇所
  .main-table-area{
  }

  .main-tab{
    height: 50vh;
    background-color: #f7fcf7;


    .tab-box{
      overflow-y: scroll;
      height: 44vh;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 20px;
    }
    .table-area{
      width: 90em;
      //margin: 20px 0 0 20px;
      font-size:12px;
      font-weight: 400;
      text-align: center;
      //color: grey;
      color: black;
      a{
        text-decoration: underline;
        font-weight: bold;
      }
      table {
        max-width: 100em;
        border: 1px solid gainsboro;
      }
      table th{
        background-color: rgba(148,216,45,0.60);
        text-align: center;
      }
      table td{
        height: 22px;
      }
      .td-decoration{
        text-align: left;
        font-size: 0.5em;
        padding: 0 0 0 8px;
        &__of-color{
          font-weight: 600;
          width: 95%;
          height: 90%;
          border-radius: 3px;
        }
        &__of-title{
          text-align: left;
          padding: 0 0 0 10px;
        }
        &__of-user{
          font-size: 0.8em;
        }
        &__of-number{

        }
        &__of-time{
          font-size: 0.8em;
        }

      }
    }
    .pagination{
      text-align: left;
      margin: 10px 30px;
      font-size:12px;
      font-weight: 400;
      color: grey;
    }
  }

// main-contents 終了タグ
}
