.main-contents{
  //サイドバー 化に伴い、デザイン変更
  //width: calc(100% - 205px);
  width: 100%;
  display: inline-block;
  //画面修正、レスポンシブへの変更（2020.7.5）
  //height: 100vh;
  float: right;
  //font-family:"ＭＳ ゴシック",sans-serif;
  font-family: Meiryo;
  color:#7F7F7F;
  //コンテンツ全体にmarginをかけると、先の要素から判断するため、ブロックが収まるように自動配備される。
  //これで、レイアウトが崩れるため、marginは設定しない。
  //margin: 0 0 0 30px;

// テーブル表示箇所
  .main-table-area{
    margin: 0 0 0 30px;
  }

  .main-tab{
    display: inline-block;
    height: 380px;
    //background-color: rgba(148,216,45,0.06);
    background-color: #f7fcf7;
    width: 1380px;

    //margin: 20px 0 0 0;
    .table-area{
      // height: 100%;
      margin: 20px 0 0 20px;
      font-size:12px;
      font-weight: 400;
      text-align: center;
      //color: grey;
      color: black;
      display: inline-block;
      a{
        text-decoration: underline;
        font-weight: bold;
      }
      table {
        width: 1330px;
        border: 1px solid gainsboro;
      }
      table th{
        background-color: rgba(148,216,45,0.60);
        text-align: center;
        //デザイン変更:2020/6/19
        //border: 1px solid gray;
      }
      table td{
        //デザイン変更:2020/6/19
        //border: 1px solid gray;
        height: 22px;
      }
      .td-decoration{
        text-align: left;
        font-size: 10px;
        padding: 0 0 0 8px;
        &__of-color{
        }
        &__of-title{
          text-align: left;
          padding: 0 0 0 10px;
        }

      }
    }
    .pagination{
      text-align: left;
      margin: 10px 30px;
      font-size:12px;
      font-weight: 400;
      //text-align: center;
      color: grey;
    }
  }


// 詳細内容表示箇所
  .main-krown-area{
    display: inline-block;
    height: 320px;
    color: black;
    font-weight: normal;
    //background-color: black;
    //background-color: rgba(148,216,45,0.06);

    .krown-area{
      display: inline-block;
      width: 940px;
      height: 350px;
      background-color: white;
      border-radius: 10px;
      margin: 10px 0 0 50px;
      border: 1px solid #74B816;
      //ナレッジへの影付け
      box-shadow: 0 10px 15px 0 rgba(60, 194, 235, 0.45);
        .krown-header{
          margin: 10px;
          &__category{
            font-size: 16px;
            display: inline-block;
          }
          &__date{
            font-size: 10px;
            margin:0 0 0 20px;
            display: inline-block;
          }
        }
        .krown-delete{
          &__button{
            margin: 0 0 0 20px;
          }
          &__label{
            a {
              color: white;
            }
            a:hover {
              text-decoration: none;
            }
          }
        }
      .krown-update{
        &__button{
          margin: 0 0 0 50px;
        }
        &__label{
          a {
            color: white;
          }
          a:hover {
            text-decoration: none;
          }
        }
      }

        .krown-no{
          font-size: 14px;
          margin: 0 0 5px 10px;
          display: inline-block;
        }
        .krown-title{
          font-size: 14px;
          margin: 0 0 5px 10px;
          display: inline-block;
        }
        .krown-border{
          height: 1px;
          width: 720px;
          margin: 0 0 0 10px;
          background-color: grey;
          background-color: #308fb8;
        }
        .krown-value{
          overflow: auto;
          height: 250px;
          margin: 8px 30px 0 10px;
          font-size: 12px;
          //font-weight: 600;
        }
    }
  // 画像表示エリア
      .main-krown-file {
        display: inline-block;
        width: 300px;
        height: 350px;
        background-color: white;
        border-radius: 10px;
        margin: 10px 0 0 40px;
        border: 1px solid #74B816;
        vertical-align: top;

        .box {
          margin: 15px 0 15px 20px;
          //width: 250px;
          //height: 250px;
          font-size: 12px;

          &__val {
            width: 250px;
            height: 250px;
            display: block;
          }

          .status {
            display: inline-block;
            //font-size: 10px;
            vertical-align: top;
            margin: 15px 0 0 0;
            width: 90%;
          }

          &__name {
            //font-size: 10px;
          }

          &__size {
            //font-size: 10px;
          }
        }
      }
    }
// main-contents 終了タグ
}
