// ユーザ情報表示項目(ヘッダ)
.search-contents{
  display: block;
  margin: 20px;
  padding: 0 20px 0 20px ;

  .input-group{
    width: 50em;
  }

  .search-add-attribute{
    margin: 0 0 0 10px;
  }

  .button-link {
    &__top {
      display: inline-block;
      font-size: 1.0em;
      font-weight: 600;
      a {
          //color: white;
      }
      a:hover {
        text-decoration: none;
      }
    }

    &__add {
      display: inline-block;
      font-size: 1.0em;
      font-weight: 600;
      a {
        //color: white;
      }
      a:hover {
        text-decoration: none;
      }
    }
  }

  .contents-parent{
    margin: 0 0 0 10px;
    vertical-align: top;
    display: inline-block;
    .search-box{
      vertical-align: top;
      display: inline-block;
      color: lightgray;
      input::placeholder{
        color:#c9c9c9;
      }

      &__query{
        display: inline-block;
        border-radius: 5px;
        border: 1px solid #dcdcdc;
        font-size: 14px;
        width: 300px;
        color: silver;
      }
      &__btn{
        display: inline-block;
        height: 30px;
        width: 40px;
        background-color: rgba(148,216,45,0.3);
        font-size: 18px;
        color: silver;
        border-radius: 5px;
        margin: 0 0 0 15px;
      }
    }
  }
}
