.l-contents{
  background: linear-gradient(to right, #add96c,#9cd941);
  display: inline-block;
  height: 100vh;
  font-weight: normal;
  font-family: Meiryo;
  color: white;

// ユーザ情報表示項目
  .user-info{
    //width: calc(100% - 40px);
    height: 75px;
    padding: 10px;
    margin: 20px 0 0 0;

    &__img{
      display: inline-block;
      width: 50px;
      height: 50px;
      background-color: #74b816;
      border-radius: 50%;
      font-size: 30px;
      text-align: center;
      line-height: 50px;
    }

    &__name{
      display: inline-block;
      vertical-align: top;
      width: 100px;
      height: 50px;
      padding: 11px 0px 13px 10px;
      font-size: 13px;
    }
  }
    .user-krown-box{
      font-size: 11px;
      width: calc(100% - 40px);
      height: 50px;
      &__sum{
        font-size: 13px;
        padding: 10px 0 0 20px;
      }
    }



// ユーザノート表示項目
  .krown-list{
    //height: 250px;
    width: 100%;
    margin: 20px 0 40px 0;
    //overflow: auto;

    .note-info{
      //width: calc(100% - 40px);
      height: 40px;
      padding: 10px 0 0 5px;
      &__icon{
        width: 20px;
        font-size: 16px;
        margin: 7px;
        display: inline-block;
      }
      &__name{
        display: inline-block;
        vertical-align: top;
        width: 100px;
        padding: 7px 0 0 0;
        font-size: 16px;
      }
    }

    .note-group1{
      //width: calc(100% - 60px);
      // height: 20px;
      padding: 10px 0 0 15px;
      &__icon{
        display:inline-block;
        width:  10px;
        margin: 7px 0 0 10px;
        font-size: 13px;
      }
      &__name{
        display: inline-block;
        vertical-align: top;
        width: 140px;
        margin: 7px 0 0 10px;
        font-size: 13px;
      }
    }
  }

  .operation_area{
    width: 100%;
    margin: 20px 0 0 0;

    .action{
      //width: calc(100% - 40px);
      margin: 10px 0 0 10px;
      &__icon{
        display: inline-block;
        width: 30px;
        height: 30px;

        margin: 7px;
        background-color: #74b816;
        border-radius: 50%;
        text-align: center;
        i{
          font-size: 16px;
          line-height: 30px;
        }
      }
      &__name{
        display: inline-block;
        vertical-align: top;
        width: 120px;
        padding: 10px 0 0 0;
        font-size: 16px;
        text-decoration: none;
      }
    }
  }
}

.l-contents-line{
    float: left;
    display: inline-block;
    background-color: #74b816;
    width: 5px;
    height: 100vh;
    margin: 0 auto;
}
