

//サイドバー 、スライダー化のため
@import url('https://fonts.googleapis.com/css?family=Varela+Round');
html, body {
  overflow-x: hidden;
  height: 100%;
}
body {
  background: #fff;
  padding: 0;
  margin: 0;
  font-family: 'Varela Round', sans-serif;
}
.header {
  display: inline-block ;
  margin: 0 auto;
  width: 200px;
  max-width: 100%;
  box-shadow: none;
  //大画面対応
  //background-color: #3aabac;
  position: fixed;
  //デフォルト表示大きさ変更済み（元60px）。
  height: 50px;
  overflow: hidden;
  z-index: 10;
  float: left;
}
.main {
  margin: 0 auto;
  display: block;
  height: 100%;
  //デフォルト表示に合わせる必要あり。
  margin-top: 50px;
}
.mainInner{
  display: table;
  height: 100%;
  width: 100%;
  text-align: center;
}
.mainInner div{
  display:table-cell;
  vertical-align: middle;
  font-size: 3em;
  font-weight: bold;
  letter-spacing: 1.25px;
}
#sidebarMenu {
  // 画面上に出力される大きさを指定
  height: 75%;
  position: fixed;
  left: 0;
  //大きめに設定することで、隠し切れないような表現を施す
  width: 250px;
  //デフォルト表示に合わせる必要あり。
  //ヘッダを別コンテンツにしたため、位置調整のため、要素を排除
  //margin-top: 50px;
  transform: translateX(-250px);
  transition: transform 250ms ease-in-out;
  //元設定グラデーション
  //background: linear-gradient(180deg, #FC466B 0%, #3F5EFB 100%);
  //採用
  //background: linear-gradient(180deg, #71b784 50%, #4066ab);
  background: linear-gradient(180deg, rgba(113,183,132,0.7) 50%, #4066ab);
  //参考
  //background: linear-gradient(to right, #add96c,#9cd941);
  //検索ボックス対策
  z-index: 3;
  opacity: 0.85;
  border-radius: 0px 25px 25px 0px / 0px 25px 25px 0px;

}
.sidebarMenuInner{
  margin:0;
  padding:0;
  border-top: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li{
  list-style: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li span{
  display: block;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.50);
}
.sidebarMenuInner li a{
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}
input[type="checkbox"]:checked ~ #sidebarMenu {
  transform: translateX(0);
}

input[type=checkbox] {
  transition: all 0.3s;
  box-sizing: border-box;
  display: none;
}
.sidebarIconToggle {
  transition: all 0.3s;
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  z-index: 99;
  height: 100%;
  width: 100%;
  top: 45px;
  left: 15px;
  height: 22px;
  width: 22px;
}
.spinner {
  transition: all 0.3s;
  box-sizing: border-box;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #fff;
}
.horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
  // 大画面対応
  background-color: silver;

}
.diagonal.part-1 {
  position: relative;
  transition: all 0.3s;
  box-sizing: border-box;
  float: left;
  // 大画面対応
  background-color: silver;
  //margin: 25px 0 0 0;
}
.diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
  // 大画面対応
  background-color: silver;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(135deg);
  margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(-135deg);
  margin-top: -9px;
}
