.contents {
  //font-family: 'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN','Hannotate TC',sans-serif;
  font-weight: bold;
  color: white;
  background-color: white;
  width: 1440px;
  margin: auto;
  display: inline-block;
  font-family: Meiryo;
}

.dis-link {
  // リンクのデコレーション無効化
  a:link { color:#ffffff; text-decoration:none }
  a:visited { color:#ffffff; text-decoration:none }
  a:hover { color:#ffffff; text-decoration:none }
  a:active { color:#ffffff; text-decoration:none }
}

.tab-space-box{
  width : 40px;
}

//注釈用テキストクラス
.info_string{
  font-size: small;
  color: rgb(100, 149, 237);
  margin: 0 0 0 20px;
  display: inline-block;
}

.required_mark{
  color: red;
  font-size: small;
  display: inline-block;
}

.field_with_errors{
  display: inline-block;
}
