.contents {
  //font-family: 'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN','Hannotate TC',sans-serif;
  font-weight: bold;
  color: white;
  background-color: white;
  width: 1440px;
  margin: auto;
  //display: inline-block;
}

.dis-link {
  // リンクのデコレーション無効化
  a:link { color:#ffffff; text-decoration:none }
  a:visited { color:#ffffff; text-decoration:none }
  a:hover { color:#ffffff; text-decoration:none }
  a:active { color:#ffffff; text-decoration:none }
}

.tab-space-box{
  width : 40px;
}

