.body {
  //画面サイズが合わない場合の対処：明示的に実行
  overflow: scroll;
}

.contents {
  font-weight: bold;
  background-color: white;
  font-family: Meiryo;
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
  min-width: 990px;
  width: 80em;
  display: flex;
}

.dis-link {
  // リンクのデコレーション無効化
  a:link { color:#ffffff; text-decoration:none }
  a:visited { color:#ffffff; text-decoration:none }
  a:hover { color:#ffffff; text-decoration:none }
  a:active { color:#ffffff; text-decoration:none }
}

.tab-space-box{
  width : 40px;
}

//注釈用テキストクラス
.info_string{
  font-size: small;
  color: rgb(100, 149, 237);
  margin: 0 0 0 20px;
  display: inline-block;
}

.required_mark{
  color: red;
  font-size: small;
  display: inline-block;
}

.field_with_errors{
  display: inline-block;
}

.apology{
  h4{
    text-align: center;
    padding: 0 100px;
    margin: 20px 0 30px 0;
  }

}
