<div class="main-krown-file">
  <div class="box">
    <% if @knowledge.img_flg.to_i == 1 %>
<!--      <div class="content">-->
      <%= link_to(image_tag(@knowledge.image.thumb.url, class: "box__val" ),"",{class: "js-modal-open"})%>
<!--      </div>-->
      <div class="modal js-modal">
        <div class="modal__bg js-modal-close"></div>
        <div class="modal__content">
          <p>モーダルウィンドウを閉じる場合は下の「閉じる」をクリックするか、背景の黒い部分をクリックしても閉じることができます。</p>
          <%= image_tag(@knowledge.image.url,class: "modal_image" )%>
          <a class="js-modal-close" href="">閉じる</a>
        </div><!--modal__inner-->
      </div>

      <div class="status">
        <div class="status__name">ファイル名：<%= @attachment.name %></div>
        <div class="status__size">サイズ：<%= "#{number_with_delimiter @attachment.file_size} byte" %></div>
      </div>
    <% else %>
<!--      <div class="box__val">-->
<!--        <img src="https://www.tcmobile.jp/dev_blog/wp-content/uploads/2015/09/022c1ca11803434db443573590757756.png" width="250" height="250">-->
<!--      </div>-->
      <div class="status">
        <div class="status__name">このインシデントには画像が添付されていません</div>
      </div>
    <% end %>
  </div>    <!-- box-end -->
</div>