<!--<div class="main-krown-area">-->
<!--  <div class="main-krown-file">-->
<!--    <div class="box">-->
      <%# if @knowledge.img_flg.to_i == 1 %>
        <%# if false %>
          <%#= image_tag(@knowledge.image.url, class: "box__val" )%>
<!--        <div class="status">-->
<!--          <div class="status__name">ファイル名表示は未実装</div>-->
<!--          <div class="status__size">xxxxxｰkb</div>-->
<!--        </div>-->
      <%# else %>
<!--        <div class="box__val">-->
<!--          <img src="https://www.tcmobile.jp/dev_blog/wp-content/uploads/2015/09/022c1ca11803434db443573590757756.png" width="70" height="70">-->
<!--        </div>-->
<!--        <div class="status">-->
<!--          <div class="status__name">画像は表示しません</div>-->
<!--          <div class="status__size">100kb</div>-->
<!--        </div>-->
       <%# end %>
<!--    </div>-->
<!--  </div>-->
  <!-- イメージは二つ表示できるが、今は一つだけとする。 -->
    <!--   <div class="box">
        <div class="box__val">
          <img src="https://pics.prcm.jp/ad56d880abad8/72758073/jpeg/72758073.jpeg" width="70" height="70">
        </div>
        <div class="status">
          <div class="status__name">sample_file.img</div>
          <div class="status__size">100kb</div>
        </div>
      </div> -->
  <!--</div>-->
