<!-- メインヘッダー部定義 -->
  <div class="main-header">
    <div class="header-left">
      <div class="header-left__result">知識カテゴリ／<%= @knowledges[0].genre.in_genre %></div>
      <div class="header-left__result_p1">3つの登録ジャンルがあります。</div>
      <div class="header-left__result_p1">256個の登録ノウハウがあります。</div>
    </div>
  </div>
