<!-- メインヘッダー部定義 -->
  <div class="main-header">
    <div class="header-left">
      <div class="header-left__thema">クラウンを検索してみよう</div>
      <div class="search-box">
        <%= form_tag(search_krowns_path, method: :get) do %>
          <input class="search-box__query" name="keyword" placeholder="作品名で検索" type="text" value="">
            <button class="search-box__btn" title="検索" type="submit">
              <!-- <i class="icon-search"></i> -->
              <i class="fas fa-search"></i>
            </button>
          </input>
        <% end %>
      </div>
    </div>
  </div>
