<!-- メインヘッダー部定義 -->
  <div class="main-title">
    <div class="title-left">
      <div class="title-left__awesome">
        <i class="fab fa-envira"></i>
<!--        葉っぱ2<i class="fab fa-pagelines"></i>-->
<!--        <i class="fas fa-fighter-jet"></i>-->
      </div>
      <div class="title-left__thema">
        Su-baco
      </div>
    </div>
  </div>
