<!-- メインヘッダー部定義 -->
  <div class="search-contents">
    <div class="contents-left">
      <div class="search-box">
        <!-- 検索ボックス定義 -->
        <%= form_tag(wordsearch_krowns_path, method: :get ,remote: :true) do %>
          <div class="input-group">
            <input class="form-control" name="keywords" placeholder="文字を入力して下さい" type="text" value="">
              <span class="input-group-btn">
                <button class="btn btn-info" title="検索" type="submit">
                  <i class="fas fa-search"></i>
                </button>
              </span>
            </input>
          </div>
        <% end %>
      </div>
    </div>
  </div>
