<!-- 編集画面 -->

<div class="contents">
  <!-- サイドコンテンツ(左側)表示 -->
  <%= render "./shared/sidecontents" %>

  <div class="edit-form">
    <% form_for [@knowledge] do |f| %>

      <div class="edit-basic">

    </div>

  </div>

  <!-- form_for閉じタグ -->
  <% end %>

<!-- contents 終了タグ -->
</div>
