<!-- 編集画面 -->
<title>subaco メモ更新</title>

<!-- メインコンテンツヘッダ部表示 -->
<%= render "./shared/contents-header"%>

<div class="contents">
  <!-- サイドコンテンツ(左側)表示 -->
  <%= render "./shared/side-contents" %>

  <%= render "edit-form" %>

<!-- contents 終了タグ -->
</div>

<!-- メインコンテンツフッタ部表示 -->
<%= render "./shared/contents-footer"%>
