<!-- index画面 -->
<title>ポートフォリオページ</title>

<div class="contents_1p">
  <div class="title__box">
    <div class="title__lavel">ポートフォリオ</div>
    <div class="title__sub">アプリケーションや開発環境等についてご説明いたします。</div>
  </div>
</div>

<!--　-----------------------------　-->
<div class="contents_2p">
  <div class="p2-title__box">
    <div class="p2-title__lavel">Self-introduction</div>
  </div>

  <div class="p2-space__s1"></div>

  <div class="p2-image__box">
    <%= image_tag 'IMG_0376.jpg',size:  '400x300' %>
  </div>
  <div class="p2-image__describe">
    市川　大輔<br>
    経歴やアドレス情報等々は別途確認ください。神戸市在住です。<br>
    運用SEを10年以上やってきました。<br>
    もっと専門性の高い領域にチャレンジしたいと思い、webエンジニアに転向しました。<br>
  </div>

  <div class="p2-space__s2"></div>

  <div class="p2-image__describe2">
    恐縮ですが趣味を記しておきます…<br>
    １）クルマ：今はファミリーカーに乗っていますが、以前は180sxやカプチーノなどそっち系の車を乗っていました。<br>
    ２）バイク：小型しか持っていないのですが、KTMに乗っていました。今の愛車はスーパーCUBです。<br>
    ３）熱帯魚：現在は水草水槽に、ホームセンターで購入した魚を入れています。以前はディスカスやアルタムを大型水槽で飼っていました。<br>
    ４）釣り…他にもありますが、このくらいの記述にしておきます…<br>
  </div>
</div>

<div class="contents_3p">
  
</div>

<!--　-----------------------------　-->
